<%# メモの新規投稿ページ %>
<form action="/memos" method="post">
  <div class="title">
    タイトル<input class="title_form" type="text" name="title">
  </div>
  <div class="content">
    <label>内容</label>
      <textarea class="content_form" name="content"></textarea>
  </div>
  <button class="button" value="保存する">保存する</button>
</form>
